.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center; 
}

body {
  background-color: #1d1f25;
} 

.imageGrid {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.imageRow {
  display: flex;
  flex-direction: row;
  justify-content: center; 
}

.tile img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  display: block;
}

.zoomButtons {
 
  display: flex;
  flex-direction: column;
  position : absolute;
  top: 61.5%;
  left: 70%;
  color: white;
  
}
.zoomButtons button {
  font-size: 25px;
  margin-bottom: 8%;
  cursor: pointer;
  width: 35px;;
}


